  <h3>Edit Profile</h3>
  <div class="container">
  <form action="/update-profile" enctype="multipart/form-data" method="POST" >
    <div class="card profile">
        <div class="card-content">
            <img src="{{image image user}}" alt="" id="image-display">
            <div class="card-action">
                <div class="file-field input-field">
                    <div class="btn">
                        <Span>File</Span>
                        <input type="file" name="image" id="image" onchange="renderFile()">
                    </div>
                    <div class="file-path-wrapper">
                        <input type="text" class="file-path validate">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input type="text" class="validate" id="displayname" name="displayName" value="{{user.displayName}}">
            <label for="displayname">Display Name</label>
        </div>
        <div class="input-field col m6 s12">
            <input type="text" class="validate" id="firstname" name="firstName" value="{{user.firstName}}">
            <label for="firstname">First Name</label>
        </div>
        <div class="input-field col m6 s12">
            <input type="text" class="validate" id="lastname" name="lastName" value="{{user.lastName}}">
            <label for="lastname">Last Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col m6 s12">
            <input type="email" class="validate" id="email" name="email" value="{{user.email}}">
            <label for="firstname">Email</label>
        </div>
        <div class="input-field col m6 s12">
            <input type="number" class="validate" id="Phone" name="Phone" value="{{user.Phone}}">
            <label for="lastname">Phone Number</label>
        </div>
        <div class="row">
        <div class="col m12 s12">
            <button class="btn waves-effect waves-light" type="submit" id="submit">Submit</button>
        </div>
    </div>
  </form>

</div>

<script>
    function renderFile(){
        const render = document.getElementById('image-display')
    const file = document.getElementById('image').files[0]

    const reader = new FileReader()
    reader.addEventListener('load',()=>{
        render.src = reader.result;
    },false)

    if(file){
        reader.readAsDataURL(file)
    }
    
    }
     
     renderFile()
</script>