<h1>Stories</h1>
<div class="row">
    {{#each stories}}
<div class="col s12 m4" style="min-width:260px;max-width:330px;">
    <div class="card hoverable">
        <div class="card-image">
            {{{editIcon user ../user _id}}}
        </div>
        <div class="card-content center-align" style ="height: 295px;">
            <h5>{{truncate title 35}}</h5>
            <p>{{stripTags (truncate body 115)}}</p>
            <br>
            <div class="chip">
                <img src="{{index user user}}" alt="">
                <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
            </div>
        </div>
        <div class="card-action center-align">
            <a href="/stories/{{_id}}" class="btn grey">Read More</a>
        </div>
    </div>
</div>
    {{else}}
    <p>No stories to display</p>
    {{/each}}
</div>
<div class="container page">
    {{{paginate pagination leftText="First" rightText="Last" limit='9'}}}
</div>